@font-face {
  font-family: "Open Sans", sans-serif; 
}

* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;  
}

body {
  margin: 0;
  padding: 0;
  background-color: #121716
}
